---
layout: default
---

<article class="post">
  <h1>JavaScript Variable of the Week (JS VOW)</h1>
  <div class="jsvow-slogan">
    <p>Teaching JavaScript through vocabulary...</p>
    <p>or vocabulary through JavaScript...</p>
    <p>(or maybe neither)</p>
  </div>
  <div class="date">
    Week of {{ page.date | date: "%B %e, %Y" }}
  </div>
  <div class="word">
    <h2>{{ page.title }} <span>[ {{page.pronunciation}} ]</span></h2>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <script>
    console.log('%cWelcome to the Console for "{{page.title}}" [ {{page.pronunciation}} ]', 'font-size: 24px');
  </script>
  <script src="{{ site.baseurl }}/jsvow.js"></script>
</article>
